$grinnell: (
  footer-background-color: #ffffff,
  footer-color: #000000,
  link: #a85c5c,
  link-hover: #b52121,
  title-color: #ffffff,
  meta-color: #b52121,
  body-color: #ffffff,
  hr-color: #a85c5c,
  body-background-color: #000000,
  backdrop-background-color: #b52121,
  dropdown-border-top-color: #b52121,
  dropdown-item-active-background-color: #821b1b,
  dropdown-content-background-color: #b52121,
  dropdown-item-hover-background-color: #a85c5c,
  dropdown-item-hover-color: #ffffff,
  dropdown-item-color: lighten(#ffffff, 20%),
  navbar-border-bottom-color: #ffffff,
  navbar-background-color: #ffffff,
  navbar-mobile-background-color: #ffffff,
  navbar-title-color: #000000,
  navbar-title-hover-color: #b52121,
  navbar-title-active-color: #a85c5c,
  navbar-menu-hover-background-color: #ffffff,
  navbar-dropdown-item-hover-color: #b52121,
  sidebar-title-color: #a85c5c,
  sidebar-li-color: #ffffff,
  taxo-title-color: #ffffff,
  taxo-num-color: #ffffff,
  taxo-num-background-color: #b52121,
  taxo-tags-background-color: #a85c5c,
  taxo-tags-color: #ffffff,
  taxo-series-background-color: #a85c5c,
  taxo-series-color: #ffffff,
  taxo-categories-background-color: #a85c5c,
  taxo-categories-color: #ffffff,
  breadcrumb-item-color: #000000,
  breadcrumb-background-color: #ffffff,
  breadcrumb-item-active-color: #a85c5c,
  list-header-title-color: #ffffff,
  figcaption-color: #a85c5c,
  figcaption-strong-color: #7e602c,
  single-hr-background-color: #a85c5c,
  single-blockquote-border-color: #84613d,
  single-header-title-color: #a85c5c,
  single-contents-title-color: #889b4a,
  related-header-title-color: #000000,
  related-link-color: #a85c5c,
  content-box-border-color: #ffffff,
  content-box-background-color: #7c502166,
  burger-menu-color: #a85c5c,
  social-icon-color: #676767,
  social-icon-hover-color: #b52121,
  pagination-link-color: #000000,
  pagination-background-color: #ffffff,
  pagination-disabled-color: #bdbdbd,
  pagination-number-color: #000000,
  terms-title-color: #ffffff,
  terms-title-shadow-color: #b52121,
  terms-tags-color: #ffffff,
  terms-categories-color: #b52121,
  terms-series-color: #a85c5c,
  terms-len-color: #ffffff,
  toc-label-color: #a85c5c,
  toc-title-color: #ffffff,
  toc-vertical-line: #b52121,
  toc-vertical-line-active: #ffffff,
  toc-header-background-color: #ffffff,
  toc-header-background-color-hover: lighten(#ffffff, 3%),
  toc-body-background-color: lighten(#ffffff, 1.5%),
  search-placeholder-color: #ffffff,
  search-color: #676767,
  search-icon-color: #aeaeae,
  search-border-color: #676767,
  search-border-outline-color: #a85c5c,
  search-border-active-color: #b52121,
  search-content-color: #000000,
  search-background-color: #ffffff,
  search-content-background-color: #ffffff,
  search-hover-background-color: #b52121,
  search-highlight-color: #a85c5c,
  selection-color: #FCFCFA,
  selection-background-color: #FF6188,
  archive-key-color: #ffffff,
  archive-type-color: #a85c5c,
  archive-meta-color: #b52121,
  archive-key-background-color: #b52121,
  archive-type-background-color: #ffffff,
  archive-hover-line-color: #dc3958,
  gtt-color: #ffffff,
  gtt-background-color: #000000,
  gtt-hover-color: #000000,
  gtt-hover-background-color: #b52121,
  switch-background-color: #ffffff,
  switch-button-color: #FCFCFA,
  switch-active-color: #dc3958,
  gallery-mask-color: #fff,
  gallery-mask-background-color: rgba(66, 53, 35, 0.85),
  contact-input-color: #a85c5c,
  contact-input-background-color: #362712,
  contact-button-background-color: #362712,
  custom-scrollbar-foreground-color: #000000,
  custom-scrollbar-background-color: #ffffff,
  share-color: #ffffff,
  share-shadow-color: #a85c5c,
  share-background-color: #000000,
  donation-background-color: #ffffff,
  button-primary-color: $button_grinnell_primary_color,
);
