@import 'dark';
@import 'light';
@import 'hacker';
@import 'solarized';
@import 'grinnell';

@import 'darkcode';
@import 'lightcode';
@import 'hackercode';
@import 'solarizedcode';
@import 'grinnellcode';

$themes: (
  dark: $dark,
  light: $light,
  hacker: $hacker,  
  solarized: $solarized,
  grinnell: $grinnell,
);

$codeblock: (
  dark: $darkcode,
  light: $lightcode,
  hacker: $hackercode,  
  solarized: $solarizedcode,
  grinnell: $grinnellcode,
);